<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-12">
            <h2>Browser is open!</h2>
        </div>
        <div class="col-md-12">
            <ul style="display:inline-flex; vertical-align:middle; padding:1em; list-style:none">
                <li style="padding:0.3em"><a th:href="${'/browser'}" id="search">Search</a></li>
                <li style="padding:0.3em"><a th:href="${'/search'}" id="index">Index</a></li>
            </ul>
        </div>
    </div>
</html>